<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title text-center>
          <h1 class="centered-title">
              <ion-icon name="map"></ion-icon> Suivi bordereaux</h1>
      </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
   
   
</ion-content>
