<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item >
    <ion-label  position="floating">Numéro de téléphone<ion-text color="danger">*</ion-text></ion-label>
    <ion-input type="text"> </ion-input>
  </ion-item>
  <ion-item>
    <ion-label  position="floating">Mot de passe<ion-text color="danger">*</ion-text>
    </ion-label>
    <ion-input type="password" ></ion-input>
  </ion-item>
 
    <!-- <ion-input type="email" placeholder="Saisir ton numéro de téléphone"  style="text-align: center; border: black solid 0.5px;"></ion-input>
  

 
    <ion-input type="password"  placeholder="Saisir ton mot de passe"   style="text-align: center; border: black solid 0.5px;"></ion-input> -->
 
  <ion-button type="submit" expand="block" shape="round" >Se connecter</ion-button>
  <span class="ion-float-right">
    <a  routerLink="/register" style="text-decoration: underline;" > Vous n'avez pas un compte? S'inscrire </a>
 </span>
</ion-content>
