
ion-header ion-toolbar{
    --background: var(--ion-item-background, var(--ion-background-color, #ffca22));
  }
  ion-toolbar ion-icon{
  color: black;
  }
  ion-title {
  color:black;
  font-size: 30px;
  }
ion-item {
    margin-top:20px;
     margin-bottom:30px;
     margin-left:65px;
     margin-right:65px;
     border-bottom: 0.7px solid;
     
     }
     ion-button {
    
      margin-left:70px;
      margin-right:70px;
     --background: #ffca22;
     }
.formule {
  max-width:150px !important
}