<ion-header>
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    
  <!-- <ion-item>
    <ion-label position="floating">Nom</ion-label>
    <ion-input></ion-input>
  </ion-item>


  <ion-item>
    <ion-label position="floating">Prénom</ion-label>
    <ion-input></ion-input>
  </ion-item>



  <ion-item>
    <ion-label position="floating">Numéro de téléphone</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Adresse</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Mot de passe</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Confirmer mot de passe</ion-label>
    <ion-input></ion-input>
  </ion-item> -->
  <ion-item>
    <ion-label position="stacked">créer</ion-label>
    <ion-input  placeholder="Nom"></ion-input>
    <ion-input placeholder="Prénom"></ion-input>
    <ion-input placeholder="Numéro de téléphone"></ion-input>
    <ion-input placeholder="Email"></ion-input>
    <ion-input placeholder="Adresse"></ion-input>
  </ion-item>
  <ion-item>
  
    <ion-input type="password" placeholder="Mot de passe"></ion-input>
  </ion-item>
  <ion-item>
  
   
    <ion-input type="password" placeholder="Confirmer mot de passe"></ion-input>
  </ion-item>
 
  <ion-button type="submit" expand="block" shape="round" >S inscrire</ion-button>
</ion-content>
