ion-header ion-toolbar{
    --background: var(--ion-item-background, var(--ion-background-color, #ffca22));
  }
  ion-toolbar ion-icon{
  color: black;
  }
  ion-title {
  color:black;
  font-size: 30px;
  }
  .md .centered-title {
    text-align: center;
    margin-left: -15%
  }
  ion-label{
   color: black;
  }
  h4{
    color: black;
    font-size: 15px;
  }
  * ::-webkit-scrollbar {
    display: none;
  }