<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title text-center>
          <h1 class="centered-title">
              <ion-icon name="list"></ion-icon> Consulter les bordereaux</h1>
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item>
         <ion-label>
          <h4> First name</h4>
          <h4> Last name</h4>
          <h4> Duration</h4>
    
            <h3 class="ion-float-left"> Date</h3>
    
         <h3 class="ion-float-right" > Price </h3>
    
        <h4 class="ion-float-left"> Marque</h4>
    
         <h4  class="ion-float-right"> Matricule </h4>
        </ion-label>
        </ion-item>
      </ion-list>
    
    
</ion-content>
