ion-header ion-toolbar{
    --background: var(--ion-item-background, var(--ion-background-color, #ffca22));
  }
  ion-toolbar ion-icon{
  color: black;
  }
  ion-title {
  color:black;
 
  font-size: 30px;
  }
  ion-buttons{
    --background: var(--slot-background-color, black) ;
    color:black;
  }
  * ::-webkit-scrollbar {
    display: none;
  }

  // ion-line { // grey
  //  // backgroundColor: 'rgba(148,159,177,0.2)',
  //   borderColor: 'rgba(148,159,177,1)',
  //   pointBackgroundColor: 'rgba(148,159,177,1)',
  //   pointBorderColor: '#fff',
  //   pointHoverBackgroundColor: '#fff',
  //   pointHoverBorderColor: 'rgba(148,159,177,0.8)'
  // }
  // ion-shart { // dark grey
  //  // backgroundColor: 'rgba(77,83,96,0.2)',
  //   borderColor: 'rgba(77,83,96,1)',
  //   pointBackgroundColor: 'rgba(77,83,96,1)',
  //   pointBorderColor: '#fff',
  //   pointHoverBackgroundColor: '#fff',
  //   pointHoverBorderColor: 'rgba(77,83,96,1)'
  // }
  // ion-line2{ // grey
  //   //backgroundColor: 'rgba(148,159,177,0.2)',
  //   borderColor: 'rgba(148,159,177,1)',
  //   pointBackgroundColor: 'rgba(148,159,177,1)',
  //   pointBorderColor: '#fff',
  //   pointHoverBackgroundColor: '#fff',
  //   pointHoverBorderColor: 'rgba(148,159,177,0.8)'
  // }