<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title text-center>
          <h1 class="centered-title">
              <ion-icon name="add-circle"></ion-icon> Ajouter bordereaux</h1>
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item classe="date1">
        <ion-label  position="stacked">Date de départ</ion-label>
        <ion-input type="date"> </ion-input>
      </ion-item>
      <ion-item classe="date2">
        <ion-label  position="stacked">Date d'arrivée </ion-label>
        <ion-input type="date" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Status</ion-label>
        <ion-select interface="popover">
          <ion-select-option value="livré">Livré</ion-select-option>
          <ion-select-option value="collecté">Collecté</ion-select-option>
          <ion-select-option value="remboursé">Remboursé</ion-select-option>
        </ion-select>
      </ion-item>
      <h4>Formulaire d'ajout</h4>
      <div  style="margin: 10px;">
        
          <ion-item class="ion-float-left">
          <ion-label  position="stacked">Nom</ion-label>
        <ion-input type="text" placeholder="Nom"  style="  max-width:130px !important"></ion-input>
      </ion-item>
     
  
          <ion-item class="ion-float-right">
            <ion-label  position="stacked">Quantité</ion-label>  
        <ion-input type="text"  placeholder="Quantité"   style="  max-width:145px !important"></ion-input>
      </ion-item>
      <ion-item class="ion-float-left">
        <ion-label  position="stacked">Poids</ion-label>
      <ion-input type="text" placeholder="Poids"  style="  max-width:130px !important"></ion-input>
    </ion-item>
   

        <ion-item class="ion-float-right">
          <ion-label  position="stacked">Prix</ion-label>  
      <ion-input type="text"  placeholder="Prix"   style="  max-width:145px !important"></ion-input>
    </ion-item>
      <!-- </span>
      </div>
      <div  style="margin: 10px;">
        <span class="ion-float-left">
        <ion-input type="text" placeholder="Poids"  style="text-align: center; border: black solid 0.5px; max-width:170px !important"></ion-input>
     </span>
  
        <span class="ion-float-right">
        <ion-input type="text"  placeholder="Prix"   style="text-align: center; border: black solid 0.5px; max-width:170px !important"></ion-input>
      </span> -->
      </div>
      <div class="add-btn">
        <ion-button type="submit" expand="block" shape="round" >Ajouter coli</ion-button>
        </div>
        
      <!-- <ion-header class="bar-stable">
        <h1 class="title">Formulaire d'ajout</h1>
    </ion-header>
    <ion-content>
        <div class="row header">
          <div class="col">Utility Company Name</div>
          <div class="col">Service Code</div>
          <div class="col">Pay Limit</div>
          <div class="col">Account Number to Use</div>
          <div class="col"></div>
        </div>
        <div class="row" ng-repeat="data in ctrl.data">
          <div class="col">name</div>
          <div class="col">code</div>
          <div class="col">LK limit</div>
          <div class="col">account</div>
          <div class="col"><button class="button" ng-click="ctrl.add($index)">Add</button></div>
        </div> 
    </ion-content>-->
   
      
</ion-content>
