ion-header ion-toolbar{
    --background: var(--ion-item-background, var(--ion-background-color, #ffca22));
  }
  ion-toolbar ion-icon{
  color: black;
  }
  ion-title {
  color:black;
  font-size: 30px;
  }
  body {
    cursor: url('http://ionicframework.com/img/finger.png'), auto;
}

.header .col {
    background-color:lightgrey;
}

.col {
    border: solid 1px grey;
    border-bottom-style: none;
    border-right-style: none;
}

.col:last-child {
    border-right: solid 1px grey;
}

.row:last-child .col {
    border-bottom: solid 1px grey;
}
.date1 {
    margin-top:20px;
     margin-bottom:30px;
     margin-left:65px;
     margin-right:65px;
     border-bottom: 0.7px solid;
     
     }
     .date2{
        margin-top:20px;
        margin-bottom:30px;
        margin-left:65px;
        margin-right:65px;
        border-bottom: 0.7px solid;
         
     }
     ion-input{
         margin:auto ;
      }
      .ion-float-right{
          margin-bottom : 10px !important;
      }
      .ion-float-left{
        margin-bottom : 10px !important;
    }
    ion-button {
    
        margin-left:70px;
        margin-right:70px;
       --background: #ffca22;
       }
       h4{
           font-weight: bold;
       }